.tip_button {
  border: none;
  width: 110px;
  height: 50px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 26px;
  font-weight: 600;
  border-radius: 8px;
  transition: color 0.2s, background-color 0.2s;
}

.tip_button:hover {
  background-color: hsl(173, 59%, 77%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}
